
<div class="card" style="width: 18rem;">
    <div class="card-top">
     <div class="row">
      <div class="col-3">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
      </div>
      <div class="col-3">
        <div class="info">
         <h1 style="font-size: 10px">Mateo</h1>
         <p>Paris</p>
        </div>
      </div>
     </div>
     <div class="row">
      <div class="col">
        <p>840 votes</p>
      </div>
     </div>
     <div class="vs" style="text-align: center">
      <p>VS.</p>
      </div>
      <div class="stake" style="text-align: center">
      <p>Stake will appear here</p>
      </div>
      <div style="text-align: center">
      <p>02:04:53:01<p>
      </div>
     <div class="row justify-content-end" >
      <div class="col-3">
        <div class="info" style="text-align: right">
         <h1 style="font-size: 10px">Dennis</h1>
         <p>Paris</p>
        </div>
      </div>
      <div class="col-3" style="float: right">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-bordered", alt: "avatar-bordered" %>
      </div>
     </div>
     <div class="row">
      <div class="col" style="text-align: right">
        <p>557 votes</p>
      </div>
    </div>
    <hr>
    <div class="card-body">
      <div class="column column-90">
        <p class="card-text">Comments field goes here.</p>
      </div>
      <div class="column column-10">
        <%= link_to bet_path(bet) do %>
    <p><i class="fa-regular fa-heart"></i></p>
  <% end %>
      </div>
    </div>
  </div>
</div>

      <%# DO NOT DELETE %>
      <%# <% if current_user.photo.attached? %>
        <%#= cl_image_tag bet.users.first.photo.key %>
      <%# else %>
        <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-bordered", alt: "avatar-bordered" %>
      <%# end %>
