<div class="mt-3 mb-2">
  <h3 class="custom-bg-info mb-2 mx-auto text-center"><strong>Bets Around Me</strong></h3>
</div>

<div class="map-in-center mt-4"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container footer-bottom-margin bets-container content pb-5">
  <% @bets.each do |bet| %>
    <div class="bet-card">
      <%= render "bet_card", bet: bet %>
    </div>
    <div class="card-space"></div>
  <% end %>
</div>
