Bets


<ul>
  <% @bets.each do |bet| %>

    <li><%= link_to bet.name, bet_path(bet) %></li>
  <% end %>
</ul>

<%= link_to "Create new bet", new_bet_path, class: "btn btn-primary" %>
<%= link_to "My bets", my_bets_path, class: "btn btn-outline-dark m-2 btn-rounded ms-4" %>
