<h1>Top Bets</h1>

<div class="bets-container">
  <% @bets.each do |bet| %>
    <div class="bet-card">
      <%= render "bet_card", bet: bet %>
    </div>
    <div class="card-space"></div>
  <% end %>
</div>


<%= link_to "Create new bet", new_bet_path, class: "btn btn-gradient" %>
