
 <%= render "shared/navbar" %>
 <%= render "shared/footer" %>

<h1>Top Bets</h1>

<div class="bets-container">
  <% @bets.each do |bet| %>
    <div class="bet-card">
      <%= render "bet_card", bet: bet %>
    </div>
    <div class="card-space"></div>
  <% end %>
</div>

