<div class="container">
  <h2 class="custom-bg-info p-1 mx-auto mt-3 text-center"><strong>Top Bets   </strong><i class="fa-solid fa-trophy" style="color: #f3b853;"></i></h2>

  <div class="footer-bottom-margin bets-container content pb-5">
    <% @bets.each do |bet| %>
      <div class="bet-card">
        <%= render "bet_card", bet: bet %>
      </div>
      <div class="card-space"></div>
    <% end %>
  </div>
</div>
