<h3 class="custom-bg-info text-white p-1 mx-auto mt-3 text-center">Top Bets</h3>

<div class="bets-container pb-5">
  <% @bets.each do |bet| %>
    <div class="bet-card">
      <%= render "bet_card", bet: bet %>
    </div>
    <div class="card-space"></div>
  <% end %>
</div>
