<div class=" container d-flex justify-content-center vh-50 mt-1 footer-bottom-margin">
  <%= simple_form_for(@bet) do |f| %>
    <h2> Last step </h2>
    <%= f.input :privacy, collection: ["public", "private"], selected: "private" %>
    <%= f.association :tag %>
    <%= f.submit "Create bet!", class: "btn btn-success btn-block" %>
  <% end %>
</div>
