<div class=" container d-flex justify-content-center vh-50 mt-1 footer-bottom-margin">
  <%= simple_form_for(@bet) do |f| %>
  <h2> Members </h2>
    <%= f.input :name %>
    <%= f.association :opponent, include_blank: false, include_hidden: false %>
    <%= f.submit  class: "btn btn-dark btn-block" %>
  <% end %>
</div>
