<div class="footer-bottom-margin bets-container text-center mt-2">
    <div class="d-flex flex-column align-items-center">
      <h3 class="custom-bg-primary text-white p-1 m-2 mx-auto">My Bets</h3>
      <h3 class="custom-bg-info text-white margin-bottom: 40px p-1 m-2 mx-auto">Active Bets</h3>
    </div >
   <% @bets.each do |bet| %>
      <div class="mt-3" >
        <%= render "bet_card", bet: bet %>
      </div>
    <% end %>
 <div class="mt-3 mb-2">
    <h3 class="custom-bg-info text-white p-1 mx-auto">Past Bets</h3>
  </div>
</div>



