
<div class="container">
    <div class="footer-bottom-margin bets-container text-center mt-2">
      <div class="d-flex flex-column align-items-center">
        <h3 class="custom-bg-primary mb-2 mt-3 mx-auto text-center"><strong>My Active Bets</strong></h3>
      </div >
        <div>
          <% @active_bets.each do |bet| %>
            <div class="mt-4">
              <%= render "bet_card", bet: bet %>
            </div>
          <% end %>
        </div>
      <div class="mt-3 mb-2">
        <h3 class="custom-bg-info mb-2 mt-5 mx-auto text-center"><strong>Past Bets</strong></h3>
      </div>
      <div class="footer-bottom-margin">
        <% @past_bets.each do |bet| %>
          <div class="mt-4">
            <%= render "bet_card", bet: bet %>
          </div>
        <% end %>

      </div>
  </div>
</div>
