<%= render "shared/footer" %>
<%= render "shared/navbar" %>

<h1>My Bets</h1>

<h2>Active Bets</h2>

<div class="bets-container text-center">
  <% @bets.each do |bet| %>
    <div class="bet-card border my_bets">
       <%= render "bet_card", bet: bet %>
    </div>
    <div class="card-space"></div>
  <% end %>
</div>

<h3>Past Bets</h3>
