<%= render "shared/navbar" %>
<h1>My Bets</h1>


<div class="container text-center">
  <% @bets.each do |bet| %>
    <div class="border my_bets">
      <h2><%= bet.name %></h2>
      <p>Stake: <%= bet.stake %></p>
      <p>Location: <%= bet.location %></p>

    </div>
  <% end %>
</div>
