<h1>So, who won?</h1>

Form for setting who won

<div class="container d-flex justify-content-center vh-50 mt-5 ">
  <%= simple_form_for @bet_member, url: bet_set_result_path(@bet) do |f| %>
    <%= f.input :outcome, collection: ['win', 'loss', 'tie'], label: "So, what was your Bet outcome?" , class: 'form-control' %>
    <%= f.submit class: "btn btn-dark btn-block" %>
  <% end %>
</div>
