<%= render "shared/navbar" %>

<div class="container" >
  <div class="bet-card">
    <%= render "bet_card", bet: @bet %>

    
  </div>

  <%= link_to "Delete Bet", bet_path(@bet), class: "m-3 btn btn-dark m-2", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
