
<h2><%= @bet.name %></h2>
<p><%= @bet.stake %></p>
<p><%= @bet.privacy %></p>





<%= link_to "Delete Bet", bet_path(@bet), class: "m-3 btn btn-dark m-2", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
