  <%# <div id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <strong>Dare2Bet.com</strong>
    </div>
  </div>
 %>

 <p class="container" div align="center" class="i">
<div class="footer footer--icons">
    <i class="fa-solid fa-medal"></i>
    <i class="fa-solid fa-location-dot"></i>
    <i class="fa-solid fa-circle-plus" id="circle"></i>
    <i class="fa-solid fa-list"></i>
    <i class="fa-solid fa-gear"></i>
</div>
