  <%# <div id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <strong>Dare2Bet.com</strong>
    </div>
  </div>
 %>

 <p class="container" div align="center" class="i">
<div class="footer footer--icons">
    <%= link_to bets_path, class: "text-decoration-none text-white" do %>
    <i class="fa-solid fa-medal" style="color: #e7af13;"></i>
    <% end %>
    <i class="fa-solid fa-location-dot" style="color: #e7af13;"></i>
    <%= link_to new_bet_path, class: "text-decoration-none text-white" do %>
    <i class="fa-solid fa-circle-plus" id="circle"></i>
    <% end %>
    <%= link_to my_bets_path, class: "text-decoration-none text-white" do %>
    <i class="fa-solid fa-list" style="color: #e7af13;"></i>
    <% end %>
    <i class="fa-solid fa-gear" style="color: #e7af13;"></i>
</div>
