<div class="navbar navbar-expand-sm navbar-light navbar-lewagon ", id="height">

    <%= link_to my_bets_path, class: "navbar-brand mx-auto" do %>
      <%= image_tag "pigpurple.png", alt:"Dare Bet fancy logo", class:"navlogo" %>
    <% end %>

</div>
