<div class="navbar navbar-expand-sm navbar-light navbar-lewagon ">

    <%= link_to my_bets_path, class: "navbar-brand mx-auto" do %>
      <%= image_tag "pigpurple.png", alt:"Dare Bet fancy logo", class:"navlogo",style: "transform: scale(2,2)" %>
    <% end %>

</div>
