<div class="banner pt-5">
  <%= image_tag "Dare2betpurple.gif" %>
  <div class="container centered-banner-text">
    <div class="ps-5 my-auto">
      <p class="banner-info d-flex gap-2 text-start"><i class="fa-regular fa-handshake text-center" style="color: #f5d847;"></i><span>Challenge your friends</span></p>
      <p class="banner-info d-flex gap-2 text-start"><i class="fa-solid fa-users-between-lines text-center" style="color: #f5d847;"></i><span>Make your bets public</span></p>
      <p class="banner-info d-flex gap-2 text-start"><i class="fa-solid fa-ghost text-center" style="color: #f5d847;"></i><span>No more empty bets!</span></p>
    </div>
  </div>
  <div class="homepage-buttons text-center">
    <%= link_to "Join the fun!", new_user_session_path, class: "btn btn-outline-light join-fun-btn mb-0" %>
    <div class="position-absolute bottom-0">
      <%= link_to "See live bets", "#homepage-cards", class: "text-white d-block", style: "14px"  %>
      <i class="fa-solid fa-chevron-down fa-lg" style="color: #ffffff; font-size: 12px;"></i>
    </div>
  </div>
</div>

<div class="container center-content" id="homepage-cards">
  <div class="col">
    <h3 class="mt-4 custom-bg-info mb-2 mx-auto text-center"><strong>Bets Around Me</strong></h3>
    <% @bets.each do |bet| %>
      <div class="col">
      <%= render "bets/bet_card", bet: bet %>
      </div>
    <% end %>
  </div>
</div>
