

.card-body {
  display: flex;
  flex-direction: column;
  background-color: #8C52ff;
  border-radius: 20px;
  color: white;
  box-shadow: 5px 5px color rgb(107, 62, 231);
  font-size: 22px;
}

.bet-card {
  margin-top: 40px;
}

.bet-title {
  z-index: 10;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 241px;
  background: white;
  color: $purple;
  border-radius: 16px;
  text-align: center;
  padding: 10px 6px;

}

.bet-date {
  font-size: 20px;
}

.expired-card {

  &:after {
    background: rgba(180, 180, 180, 0.6);
    inset: 0;
    width: 100%;
    content: "";
    top: 0;
    position: absolute;
    border-radius: 20px;
  }

  .bet-title:after {
    background: rgba(180, 180, 180, 0.6);
    inset: 0;
    width: 100%;
    content: "";
    top: 0;
    position: absolute;
    border-radius: 15px;
  }
}

.bet-accept-btn {
  text-decoration: none;
  color: green;
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.bet-deny-btn {
  text-decoration: none;
  color: #d10101;
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.bet-actions-btns {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
}
