.bets-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-space {
  margin-bottom: 20px;
}

.card-body {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-gap: 10px;
}

.column-90 {
  width: 90%;
}

.column-10 {
  width: 10%;
}
