.btn-violet {
  background-color: #8c50f7;
  color: white;
  border-radius: 10px;

}

.btn-violet:hover {
  background-color: #f5df4b;
}

.container-form {
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 50 px;
}
.page-wrapper {
  width: 100 px;
  margin: 0 auto;
}
