.homepage-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 50%;
  font-size: medium;
  text-decoration: underline;
}

.btn-outline-light {
  -webkit-text-fill-color: rgb(255, 255, 255);
  text-decoration: wavy;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.btn-outline-light:hover {
  background-color: rbga(255, 255, 255, 0.2);
  color: white;
}
