.homepage-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 40%;
  font-size: medium;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-success {
  -webkit-text-fill-color: rgb(255, 255, 255);
  text-decoration: wavy;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 40%;
}

.btn-success:hover {
  background: #02492f;
  color: white;
}
