.navbar-lewagon {
  justify-content: space-between;
  background: rgba(112, 108, 108, 0.349);
  
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
